/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


@font-face {
	font-family: 'Anodyne'; 
	src: url('/assets/Anodyne.otf ');
}

@font-face {
	font-family: 'Quicksand_Light'; 
	src: url('/assets/Quicksand_Light.otf ');
}

body {
	background-image:url('/assets/background.png ');
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
	
	width: 100%;
	margin: 0 auto;
}

a:link, a:visited, a:active {
	font-family: Anodyne, sans-serif;
	color: #35264f;
	text-decoration: none;
	font-size: 35px;
}

a:hover {
	color: #b2a8b5;
}

.center {
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}

.full_width {
    width: 100%;
}

.hidden {
	display: none;
}

.info {
	font-family: Quicksand_Light, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	line-height: 150%;
	color: 35264f;
}

.logo {
	margin-top: 35px;
	width: 175px;
}

.major_links {
	margin-top: 15px;
	width: 50%;
}

.transparent {
  background:#7f7f7f;
  background:rgba(255,255,255,1.0);
}

/* tablets */
@media only screen 
and (min-width : 569px) 
and (max-width : 1024px)  { 

}

/* mobile phones */
@media only screen  
and (max-width : 568px) { 
	.logo {
		width: 50%;
	}
}
