<p>
	Hi <%= @message.name %>,
</p>
<p>
	Thanks so much for inquiring about made by jessa. We'll be in touch!
</p>
<p>
	Don't forget to check out our shop on <a href="https://www.etsy.com/shop/madebyjessa">etsy</a>.
</p>
<p>
	- the team at made by jessa
</p>