<p>
	Hi <%= @message.name %>,
</p>
<p>
	Thanks so much for inquiring about madebyjessa. We'll be in touch!
</p>
<p>
	Don't forget to check out our shop on <a href="https://www.etsy.com/shop/madebyjessa">Etsy</a>.
</p>
<p>
	- madebyjessa
</p>