<html>
	<head>
		
	</head>
	<body>

		<div class="center">
			<%= image_tag "logo.jpg", {class: "full_width"} %>
		</div>
		<div class="center major_links">
			<a  href="#" onclick="return false;" class="trigger_link">About</a>
			<div class="info transparent hidden">
			<p>made by jessa | odds and ends is a design blog written to inspire and to share well-designed home decor, architecture, wedding ideas, stationery, fashion, books, fonts, and anything else that makes the world a prettier place.</p>

			<p>jessa butler is a designer, creative thinker, and marketing guru. her loves include brian, the beach, running, anything paper, and traveling. she currently lives in conshohocken with her awesome husband.</p>

			<p>september 1, 2010...</p>

			<p>with the support and love of my family and friends, i have decide to live my dream. to be a creator. a crafter. an artist. i quit my job and decided to take the jump. to start my own business and follow my heart.</p>

			<p>it began with the book, the alchemist, given to me by my sister for christmas and finished with my husband asking me, "what are you waiting for?" so here i am, the master of my own future.</p>

			<p>i will be blogging every day (or almost every day), designing full-time for life's biggest events, creating handmade decor, and most of all loving life. hope you join me on my journey!</p>

			<p>*a big, dinosaur-size thank you to everyone who is helping me make this dream a reality!*</p>
			</div>
		</div>
		<div class="center major_links">
			<a href="https://www.etsy.com/shop/madebyjessa">Shop</a>
		</div>
		<div class="center major_links">
			<a href="http://www.madebyjessa.com">Blog</a>
		</div>
		<div class="center major_links">
			<a href="#" class="trigger_link">Custom</a>
			<div class="info transparent hidden">
			<p>getting married on a budget doesn't mean you can't have custom paper goods! please let me know your budget and we can work within it to make sure you are getting exactly what you want.</p>


			<p>process & pricing</p>


			<p>{process}</p>


			<p>design/proofing: 2 - 3 weeks depending on project with 3 design options</p>

			<p>production: 3 - 6 weeks depending on project</p>

			<p>delivery date:</p>



			<p>{pricing structure}</p>


			<p>project:</p>

			<p>------------------------</p>

			<p>client:</p>

			<p>wedding date:</p>

			<p>size:</p>

			<p>details:</p>

			<p>design theme:</p>

			<p>timeline:</p>

			<p>-----------------------</p>

			<p>quantity:</p>

			<p>design (30%) :</p>

			<p>supplies (40%) :</p>

			<p>production (30%) :</p>

			<p>sub-total:</p>

			<p>pa sales tax (6% of total) :</p>

			<p>total:</p>


			<p>{50% of the total upon signing agreement as a deposit, 50% of the total upon delivery of product as final payment}



			<p>{payment}</p>

			<p>at the moment, i accept paypal payments and personal checks. you do not need to have a paypal account to place an order. i am working on accepting credit cards - sorry for the inconvenience!</p>


			<p>{shipping + handling}</p>

			<p>wedding orders over $150 are shipped with full insurance in case of loss or damage. because shipping prices vary depending on the weight of your order and your location, i can not estimate exact shipping prices. i charge exactly what it costs me, with no additional fees.


			<p>{sales tax}</p>

			<p>pa orders will be charged 6% sales tax.</p>


			<p>{refunds + exchanges}</p>

			<p>because your order is customized for you and your event, all orders are final.</p>


			<p>{postal etiquette | when to send}</p>

			<p>wedding invitations:</p>
			<p>local weddings: 6 - 8 weeks before the event</p>
			<p>destination weddings: 2 - 3 months before the event is necessary so friends and family can make travel plans in advance</p>

			<p>save the date cards: 6 - 12 months beforehand</p>

			<p>birth announcements: new parents have little free time to focus on an announcement of their newborn, therefore it is accepted that you can mail your announcements 6 months or more after the birth.</p>

			<p>thank you notes: within the week of receiving a gift, although it would be appreciated at any time. wedding thank you notes are known to take a little longer, as the couple may be on their honeymoon right after the wedding.</p>

			<p>if you have any questions, please don't hesitate to ask!</p>
			</div>
		</div>
		<div class="center major_links">
			<a href="maileto:jessa@madebyjessa.com">Contact</a>
		</div>

	</body>
</html>